
:root{
    --corPrincipal: #e8c2cd ;
    --corCmplementar:  #e593aa;
    --corNeutro: #f05ee1;
}


body {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    background-color: var(--corPrincipal);
}

h1,
h2{
    text-align: center;
    color: #333;
}

.borda {
    margin: 0 auto;
    padding: 15px 28px;
    box-sizing: border-box;
    font-weight: bold;
    border: 1px solid var(--corCmplementar);
    
}

form {
    width: 600px;
    margin: 0 auto;
    background: #fff;
    height:auto;
    padding: 15px 15px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
  
}



label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

input[type="text"],
input[type="serie"],
input[type="email"],
input[type="telefone"],
input[type="password"],
input[type="numeroCandidato"],
input[type="nomeCandidato"],
select,
textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 15px;
    border: 1px solid var(--corCmplementar);
    border-radius: 3px;
    cursor: pointer;
    font-size: medium;
    
    
}

input[type="numeroCandidato"],
input[type="nomeCandidato"]{
    font-size: 25px;
    margin-left: 100px;
    width: 60%;
}
input[type="nomeCandidato"]{
    border:none;
}
input[type="serie"]{
    width:40% ;
}
.input-radio{
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}
.radio-btn{
    height: 20px;
    width: 20px;
    border-radius: 100px;
    border: 1px solid var(--corCmplementar);
    display: block;
    margin-right: 1rem;
}
input[type="radio"] + label {
     color: #ccc;
     -webkit-box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0,2);
     box-shadow:  0px 0px 1px 1px rgba(255, 255, 255, 0,2);
}

input[type="radio"]:checked + label span {
    color: var(--corNeutro);
}
input[type="radio"]:checked + label .radio-btn{
    background: radial-gradient(circle, #f05ee1 45%, transparent 50%);
}


textarea {
    resize: vertical;
}

input[type="submit"] {
    background: var(--corCmplementar);
    color: #fff;
    padding: 15px;
    border-radius: 3px;
    font-size: 20px;
    border:none;
    cursor: pointer;
    margin-left: 40px;
    
}


input[type="submit"]:hover{
    background: var(--corNeutro);
    
}
footer{
    text-align: center;
}
img{
    width: auto ; 
    height: 500px;
}
  span::after {
    padding-left: 10px;
  }
  
  input:invalid + span::after {
    content: '✖';
  }
  
  input:valid+span::after {
    content: '✓';
  }
  .data{
    font-size: 20px;
  }

::-webkit-input-placeholder{ color: #7777 }

