
  /* deixa o placeholder com cor menos forte*/
  ::-webkit-input-placeholder{ color: #7777 }

  :root{
    --corPrincipal:#dee6f0;
    --corComplementar: #bed4f0;
    --corBorda: #ccc;
    --corTexto: #333;
    --corTexto2: #fff;
    --corNeutroForm:#f9fcff ;
    --corNeutro2: #eee;
    --corBotao: #007bff;
  }
body{
    background-color: var(--corPrincipal);  /* aqui eu coloco a variável que foi criada no css */
}

/* Estilo padrão para todos os formulários */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid var(--corBorda);
    background-color: var(--corNeutroForm);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
h1,
h2{
    text-align: center;
    color: var(--corTexto);
}
  
  /* Estilo para legend (título) dos formulários */
  legend {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  /* Estilo para rótulos e campos de entrada */
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="data"],
  input[type="serie"],
  input[type="telefone"],
  input[type="numeroCandidato"],
  input[type="nomeCandidato"],
  textarea,
  select {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid var(--corBorda);
    border-radius: 5px;
    font-size: 16px;
    height: 20px;
    cursor: pointer;
    
   
  }
  
textarea {
    resize: vertical;
}

/* estilo da data de nascimento */
span::after {
    padding-right: 10%;
    
  }
  
  input:invalid + span::after {
    content: '✖';
    
  }
  
  input:valid+span::after {
    content: '✓';
  }
  .data{
    font-size: 20px;
    margin-left: 10px;
    border:none;
  }

/* estilo da opção série */
input[type="serie"]{
    width:40%;
    text-align: center;
}
  /* estilo da opção motivo do contato*/
  select {
    width: 220px;
    height: 40px;
    font-size: 16px;
    padding: 5px;
    border: 1px solid var(--corBorda);
    border-radius: 5px;
    
  }
  option {
    padding: 5px;

  }
  
/* estilo da opção radio button genero*/
input[type="radio"] + label {
    background-color: var(--corNeutro2);
    border: 1px solid var(--corBorda);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    width:40% ;
    text-align: center;
    top: 0;
    left: 0;
    
   
  }
  input[type="radio"]:checked + label {
    background-color: var(--corComplementar);
    color: var(--corTexto2);
    
  
  }


  
    /* estilo da opção checkbox opção necessidades especiais*/
input[type="checkbox"] {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: var(--corPrincipal);
  border: 1px solid var(--corBorda);
  border-radius: 50%;
}
.check{
  position: relative;
  top: 0;
  left: 5px;
  z-index: 2;
  cursor: pointer;
  font-size: 18px;
  display:inline;
}
  
  
/* Estilo para formulario urna eletronica */
  img{
    height: 500px;
    margin-left: 30px;
  }
 
input[type="numeroCandidato"],
input[type="nomeCandidato"]{
    margin-left: 100px;
    width: 60%;
    text-align: center;
}
input[type="nomeCandidato"]{
    border:none;
    font-size: 25px;
}
.urna{
    margin-right: 5%;
    margin-left: 40px;
}

  
  /* Estilo para botões */
  input[type="submit"],
  input[type="reset"] {
    background-color: var(--corBotao);
    color: var(--corTexto2);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover,
  input[type="reset"]:hover {
    background-color: var(--corBotao);
  }
  
  /* Estilo para o rodapé */
  footer {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 3px solid var(--corBorda);
  }
  
  
  