:root{
    --corPrincipal: #e8c2cd ;
    --corCmplementar:  #e593aa;
    --corNeutro: #f05ee1;
}


body {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    background-color: var(--corPrincipal);
}

h1 {
    text-align: center;
    color: #333;
}

.borda {
    margin: 0 auto;
    padding: 15px 28px;
    box-sizing: border-box;
    font-weight: bold;
    border: 1px solid var(--corCmplementar);
    
}

form {
    width: 600px;
    margin: 0 auto;
    background: #fff;
    height:auto;
    padding: 15px 30px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  
}



label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
select,
textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 15px;
    border: 1px solid var(--corCmplementar);
    border-radius: 3px;
    cursor: pointer;
    
}


textarea {
    resize: vertical;
}

input[type="submit"] {
    background: var(--corCmplementar);
    color: #fff;
    padding: 15px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 20px;
    border:none;
}


input[type="submit"]:hover{
    background: var(--corNeutro);
    
}
footer{
    text-align: center;
}

::-webkit-input-placeholder{ color: #7777 }

